.Card > * {
    margin: 0;
    padding: 0;
}
.Card {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    color: rgb(42, 117, 117);
    padding: .5rem 1rem 1rem;
}
.Card input {
    border: none;
}
.Card input[type="file"]::file-selector-button {
    padding: .4rem;
    font-size: 1.1rem;
    background-color: antiquewhite;
    border: .12rem solid black;
    margin-right: 1.5rem;
}
.Card input[type="file"] {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* font-size: 1rem; */
    width: fit-content;
}
.Card form {
    display: flex;
    gap: .2rem;
    flex-direction: column;
    flex-wrap: wrap;
    border: .12rem solid black;
    background-color: rgb(118, 199, 202);
    padding: .4rem;
    align-items: c;
}
.Card form textarea{
    font-size: 1.5rem;
    border: 0;
    outline: 0;
    max-width: 100%;
    resize: vertical;
}
.Card form label {
    background-color: azure;
    padding: 0 .2rem;
}
.Card form input[type="submit"] {
    background-color: antiquewhite;
    outline: none;
    border: .1rem solid black;
    font-size: 1.6rem;
    width: fit-content;
    align-self: flex-end;
}

.Home {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.Container {
    
    /* padding: 5rem 20rem; */
    padding: 1rem calc(100vw/50);
	

}

.Login input{
    font-size: 1.5rem;
}
.Login {
    width: max-content;
    align-self: center;
    margin-top: 10rem;
}

.Welcome {
    flex-direction: row;
    padding: 1rem 1rem;
    gap: 1rem;
}
.Welcome p {
    margin-left: auto;
    align-self: center;
    color: rgb(233, 19, 19);
    text-decoration:underline;
    font-size: 1.6rem;
    user-select: none;
    font-weight: bolder;
}
.Welcome p:hover{
    cursor:pointer;
    color: rgb(255, 153, 153);
}

.Darker {
    filter: brightness(60%);
}



/* Selector */
.Sel {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;

}
.Sel > * {
    padding: 0;
    margin: 0;
    user-select: none;
}
.Sel > *:hover {
    cursor: pointer;
    backdrop-filter: brightness(60%);
    color: aliceblue;
}
.SelDark {backdrop-filter: brightness(80%);}
.SelBright {backdrop-filter: brightness(100%);}


/* Group */
.GroupCol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: .2rem;
    justify-content: left;
}
.GroupCol > * {
    display: flex;
}
.GroupCol > * p {
    padding: 0rem .3rem;
    text-align: start;
}
.GroupCol .Topic {
    display: flex;
    flex-direction: column;
}
.GroupCol .Topic > * {
    flex-grow: 1;
    align-content: center;
}